.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 20px;
  }
}
